.discover {
  padding-bottom: 100px;
  .discover_container {
    .container_wrapper {
      .container_title {
        h1 {
          font-size: 33px;
          line-height: 37px;
          font-weight: 600;
          color: #222222;
        }
      }
      .main_container {
        margin-top: 45px;
        .discover_box_wrapper {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 30px;
          @include breakpoints(tablet) {
            grid-template-columns: repeat(1, 1fr);
          }
          .discover_card {
            .card_wrapper {
              width: 100%;
              position: relative;
              .card_thumbnail {
                img {
                  border-radius: 10px;
                  width: 100%;
                  @include breakpoints(tablet) {
                    height: 420px;
                    object-fit: cover;
                  }
                }
              }
              .discover_info {
                position: absolute;
                top: 40px;
                left: 35px;
                width: 280px;
                @include breakpoints(tablet) {
                  width: auto;
                  left: 22px;
                }
                h2 {
                  font-size: 41px;
                  line-height: 46px;
                  font-weight: 600;
                  color: #fff;
                  //   @include breakpoints(tablet) {
                  //     font-size: 25px;
                  //     line-height: 35px;
                  //   }
                }
              }
              .btn_container {
                margin-top: 20px;
                button {
                  text-align: center;
                  outline: none;
                  border: none;
                  padding: 10px 20px;
                  border-radius: 5px;
                  background: #fff;
                  color: #222222;
                  font-size: 16px;
                  line-height: 20px;
                  font-weight: 600;
                  cursor: pointer;
                  @include breakpoints(tablet) {
                    padding: 8px 16px;
                    border-radius: 5px;
                    background: #fff;
                    color: #222222;
                    font-size: 12px;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
